@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body, html {
  background: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border: 1px solid #158368; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #27F09E; 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.navigation {
  border-bottom: 2px solid #262C4E;
}

.bottom-lines-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.bottom-lines-img {
  min-width: 100vw;
}


.cylinder-wrapper {
  position: relative;
  width: 104px;
  height: 93px;
}

.cylinder {
  position: absolute;
}

.circle {
  position: absolute;
  top: 0px;
  animation-duration: 1.4s;
  animation-name: jump;
  animation-iteration-count: infinite;
}

.circle2 {
  top: 10px;
  animation-delay: .4s;
}
.circle3 {
  top: 20px;
  animation-delay: .3s;
}


@keyframes jump {
  from {
0%: 0;
  }

  50% {
    top: 64px
  }

  100% {
    top: 0px
  }
}





.content-toggle-btn{
  background: none;
  border: none;
}


table{
  width: 100%;
}

.table-wrapper-outside {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(39, 240, 158, 1));
  border-radius: 27px 0 0 27px;
  padding: 1px;
}

.table-wrapper {
  background: #232844;
  border-radius: 27px 0 0 27px;
  padding: 20px 10px;
  height: 650px;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}

td {
  padding: 10px 0 0;
  font-size: 12px;
}

th {
  font-weight: 100;
  font-size: 12px;
}

.left {
  text-align: left;
}

tr:nth-child(even) {
  background: #0F1325;
}

.pooled-label {
  text-align: left;
  font-size: 25px;
  opacity: .7;
}


.inner-progress {
  background: #27F09E;
  height: 100%;
}

.outer-progress {
  border: 1px solid #27F09E;
  height: 16px;
  border-radius: 100px;
  padding: 1px;
  overflow: hidden;
  position: relative;
}

.full {
  border-radius: 100px;
}

.not-full {
  border-radius: 100px 0px 0px 100px;
}


.progress-bar-wrapper {
  margin-top: 30px;
  position: relative;
}

.progress-max-num {
  position: absolute;
  right: -26px;
  top:-1px;
}